<%= form_with model: post do |form| %>
  <% if post.errors.any? %>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :genre_id %>
    <%= form.collection_radio_buttons :genre_id, Genre.all, :id, :name %>
  </div>
  <div>
    <%= form.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] }, {},
                    data: { placeholder: 'Please select genre' }, class: 'select2 w-25' %>
  </div>
  <div>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  <%= form.submit %>
<% end %>